* {
	box-sizing:border-box;
	webkit-box-sizing:border-box;
	moz-box-sizing:border-box;
}

body {
	background-color: teal;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background-color: gray;
}

#mainbody {
	padding: 20px;
}

[class*="col-"] {
	float: left;
	margin-left: 2%;
	padding: 20px;
}

[class*="col-"]:first-child {
	margin-left: 0;
}

.row {
	width: 100%;
	background-color: white;
	margin-bottom: 2%;
	clear: both;
}

.row:after {
	content: ".";
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
	line-height: 0;

}

.col-1  { width: 6.5%;  }
.col-2  { width: 15%;   }
.col-3  { width: 23.5%; }
.col-4  { width: 32%;   }
.col-5  { width: 40.5%; }
.col-6  { width: 49%;   }
.col-7  { width: 57.5%; }
.col-8  { width: 66%;   }
.col-9  { width: 74.5%; }
.col-10 { width: 83%;   }
.col-11 { width: 91.5%; }
.col-12 { width: 100%;  }