* {
	box-sizing:border-box;
	webkit-box-sizing:border-box;
	moz-box-sizing:border-box;
}

body {
	background: url(../images/nightsky.jpg) no-repeat center top;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	
}
/* ////Header///// */

header {
	width: 100%;
	padding: 30px;
	box-shadow: 2px 2px 2px 0;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0b543d+0,627d4d+27,627d4d+73,0b543d+100 */
background: #0b543d; /* Old browsers */
background: -moz-linear-gradient(top,  #0b543d 0%, #627d4d 27%, #627d4d 73%, #0b543d 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #0b543d 0%,#627d4d 27%,#627d4d 73%,#0b543d 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #0b543d 0%,#627d4d 27%,#627d4d 73%,#0b543d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0b543d', endColorstr='#0b543d',GradientType=0 ); /* IE6-9 */

}

header h1 {
	font-size: 3em;
	font-style: italic;
	font-family: cursive, serif;
	text-align: center;
}

header h2 {
	font-family: fantasy, serif;
	text-align: center;
	font-size: 2em;
}
/* //////NAV BAR/////// */
nav {
	background-color: black;
}

.current {
	background-color: #333333;
}

nav a {
	display: inline-block;
	width: 16.66666%;
	text-align: center;
	border-left: 1px solid gray;
	color: white;
	padding: 15px 0 15px 0;
	text-decoration: none;
}

nav a:last-child {
	border-right: 1px solid gray;
}

nav a:hover {
	background-color: #590058;
}


/* //////MAIN BODY ///// */

#mainbody {
	padding: 20px;
}
div div h3 {
	text-align: center;
}

.linkbox {
	height: 350px;
	border: 2px solid black;

}
.PageLink img {
	background-size: contain;
	display: block;
	width: 100%;
	height: 100%;
	max-width: 100%;
	max-height: contain;
}


/* //////Column structure ////// */
[class*="col-"] {
	float: left;
	margin-left: 2%;
	padding: 20px;
}

[class*="col-"]:first-child {
	margin-left: 0;
}

.row {
	width: 100%;
	background-color: white;
	margin-bottom: 2%;
	clear: both;
	box-shadow: 2px 2px 2px 0;
}

.row:after {
	content: ".";
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
	line-height: 0;

}

.col-1  { width: 6.5%;  }
.col-2  { width: 15%;   }
.col-3  { width: 23.5%; }
.col-4  { width: 32%;   }
.col-5  { width: 40.5%; }
.col-6  { width: 49%;   }
.col-7  { width: 57.5%; }
.col-8  { width: 66%;   }
.col-9  { width: 74.5%; }
.col-10 { width: 83%;   }
.col-11 { width: 91.5%; }
.col-12 { width: 100%;  }